<aside class="widget">
    <h3 class="widget-title">简介</h3>
    <div class="widget-content">
        <img src="/css/images/author.jpg" alt="阿木隆" style="width: 100px;float: left;">
        <div style="margin-left: 120px; line-height: 2">
            <div>花名：阿木隆</div>
            <div>出生于辽宁，1993年10月</div>
            <div>毕业于长安大学，自动化系</div>
            <div>就职于数梦工场，前端攻城狮</div>
        </div>
        <div style="width: 100%;margin-top: 10px;line-height: 2;float: left;margin-bottom: 48px;">座右铭：挖掘隐藏于界面下的真相。</div>
    </div>
</aside>