<% if (theme.music){ %>
  <aside class="widget" style="margin: 0">
    <h3 class="widget-title" style="margin: 0">音乐</h3>
    <div class="widget-content" style="margin: 0">
      <!--<audio src="<%= theme.music %>" controls="controls"-->
             <!--style="width:100%">-->
        <!--您的浏览器不支持 audio 标签。-->
      <!--</audio>-->
      <iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=298 height=52 src="//music.163.com/outchain/player?type=0&id=763639683&auto=0&height=32"></iframe>
    </div>
  </aside>
<% } %>