<% if (site.tags.length){ %>
  <aside class="widget">
    <h3 class="widget-title">标签</h3>
    <div class="widget-content">
      <%- list_tags() %>
      <div id = "tagsCloud"></div>
    </div>
  </aside>
<% } %>