<footer id="colophon" role="contentinfo">
  <div id="getUserIp" style="display:none">
    <script type="text/javascript" src="http://ip.chinaz.com/getip.aspx"></script>
  </div>
  <script>
    var ipJson = eval('(' + document.getElementById("getUserIp").innerText.replace(/ /g,"") + ')');
    document.write("欢迎你：" + ipJson.ip + "，所在区域：" + ipJson.address)
  </script>
  <div>
    <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1260942557'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s4.cnzz.com/z_stat.php%3Fid%3D1260942557%26online%3D1%26show%3Dline' type='text/javascript'%3E%3C/script%3E"));</script>
  </div>
  <p><a href="<%= config.url %>"><%= date(new Date(), 'YYYY') %> Copyright © <%= config.author || config.title %></a> <a
      href="<%= config.url %>/version">当前版本1.1</a> </p>
  <p>浙ICP备17030325号</p>
</footer>