<footer id="colophon" role="contentinfo">
    <p><%= date(new Date(), 'YYYY') %> <%= config.author || config.title %>
    于cyanstyle旧版基础上更新</p>
    <p>Powered by <a href="http://hexo.io/" target="_blank">Hexo</a></p>
</footer>